{%- macro has_perm_strict(node, hier) -%}
{%- if 'permission' in node -%}
  {%- if hier == 'status' and node.permission == 'r' %}true
  {%- elif hier == 'control' and 'w' in node.permission %}true
  {%- endif -%}
{%- else -%}
  {%- for c in node.get('children', []) -%}
    {%- if has_perm_strict(c, hier) | trim %}true{% endif -%}
  {%- endfor -%}
{%- endif -%}
{%- endmacro -%}

{%- macro render_subtypes(children, root, path) -%}
{%- for node in children -%}
{%- set name = node.name | lower -%}
{%- set current = path + [name] -%}
{%- if 'permission' in node -%}
{%- set flat = current[1:] | join('_') -%}
{%- set w = node.get('width', 1) -%}
{%- if w == 1 %}
subtype {{ root }}_{{ flat }}_subtype is std_logic;
{%- else %}
subtype {{ root }}_{{ flat }}_subtype is std_logic_vector({{ w - 1 }} downto 0);
{%- endif -%}
{%- if node.get('length') %}
type {{ root }}_{{ flat }}_array_type is array ({{ node.length - 1 }} downto 0) of {{ root }}_{{ flat }}_subtype;
{%- endif -%}
{%- else -%}
{{ render_subtypes(node.get('children', []), root, current) -}}
{%- endif -%}
{%- endfor -%}
{%- endmacro -%}

{%- macro render_hierarchy(children, root, hier, path) -%}
{%- for node in children -%}
{%- set name = node.name | lower -%}
{%- set current = path + [name] -%}
{%- if 'permission' not in node -%}
{{ render_hierarchy(node.get('children', []), root, hier, current) -}}
{%- set ns = namespace(fields=[]) -%}
{%- for c in node.get('children', []) -%}
{%- if has_perm_strict(c, hier) | trim -%}
{%- set cname = c.name | lower -%}
{%- set flat = (current + [cname])[1:] | join('_') -%}
{%- if 'permission' in c -%}
{%- set ftype = root ~ '_' ~ flat ~ '_array_type' if c.get('length') else root ~ '_' ~ flat ~ '_subtype' -%}
{%- else -%}
{%- set ftype = root ~ '_' ~ hier ~ '_' ~ flat ~ '_array_type' if c.get('length') else root ~ '_' ~ hier ~ '_' ~ flat ~ '_record_type' -%}
{%- endif -%}
{%- set ns.fields = ns.fields + [(cname, ftype)] -%}
{%- endif -%}
{%- endfor -%}
{%- if ns.fields -%}
{%- set flat_current = current[1:] | join('_') -%}
{%- set rec_name = root ~ '_' ~ hier ~ '_' ~ flat_current ~ '_record_type' %}

type {{ rec_name }} is record
{%- for fname, ftype in ns.fields %}
    {{ fname }} : {{ ftype }};
{%- endfor %}
end record {{ rec_name }};
{%- if node.get('length') %}
type {{ root }}_{{ hier }}_{{ flat_current }}_array_type is array ({{ node.length - 1 }} downto 0) of {{ rec_name }};
{%- endif -%}
{%- endif -%}
{%- endif -%}
{%- endfor -%}
{%- endmacro -%}

{%- macro render_top_record(children, root, hier) -%}
{%- set ns = namespace(fields=[]) -%}
{%- for c in children -%}
{%- if has_perm_strict(c, hier) | trim -%}
{%- set cname = c.name | lower -%}
{%- if 'permission' in c -%}
{%- set ftype = root ~ '_' ~ cname ~ '_array_type' if c.get('length') else root ~ '_' ~ cname ~ '_subtype' -%}
{%- else -%}
{%- set ftype = root ~ '_' ~ hier ~ '_' ~ cname ~ '_array_type' if c.get('length') else root ~ '_' ~ hier ~ '_' ~ cname ~ '_record_type' -%}
{%- endif -%}
{%- set ns.fields = ns.fields + [(cname, ftype)] -%}
{%- endif -%}
{%- endfor -%}
{%- if ns.fields %}

type {{ root }}_{{ hier }}_record_type is record
{%- for fname, ftype in ns.fields %}
    {{ fname }} : {{ ftype }};
{%- endfor %}
end record {{ root }}_{{ hier }}_record_type;
{% endif -%}
{%- endmacro -%}
-- Automatically generated by WhishList - https://gitlab.cern.ch/msilvaol/wishlist
-- Package name: {{ name.lower() }}_pkg
-- Description : {{ description }}
library ieee;
use ieee.std_logic_1164.all;
package {{ name.lower() }}_pkg is
-- register data types
{{- render_subtypes(children, name.lower(), [name.lower()]) }}
-- status hierarchy data types
{{- render_hierarchy(children, name.lower(), 'status', [name.lower()]) -}}
{{- render_top_record(children, name.lower(), 'status') -}}
-- control hierarchy data types
{{- render_hierarchy(children, name.lower(), 'control', [name.lower()]) -}}
{{- render_top_record(children, name.lower(), 'control') -}}
end package {{ name.lower() }}_pkg;
